<div{{ attributes.defaults({class: 'todo-stats'}) }}>
    <div>
        <span>{{ totalTodos }}</span>
        <small>total</small>
    </div>
    <div>
        <span>{{ remaining }}</span>
        <small>remaining</small>
    </div>
    <div>
        <span>{{ completedCount }}</span>
        <small>done</small>
    </div>
</div>

